# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Backend
backend/target/
backend/HELP.md
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local